[submodule "vim.symlink/bundle/vim-easymotion"]
	path = vim.symlink/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim.symlink/bundle/vim-fugitive"]
	path = vim.symlink/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim.symlink/bundle/vim-ps1"]
	path = vim.symlink/bundle/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule "vim.symlink/bundle/vim-repeat"]
	path = vim.symlink/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim.symlink/bundle/vim-surround"]
	path = vim.symlink/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim.symlink/bundle/gundo.vim"]
	path = vim.symlink/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim.symlink/bundle/vim-commentary"]
	path = vim.symlink/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim.symlink/bundle/smarty-syntax"]
	path = vim.symlink/bundle/smarty-syntax
	url = https://github.com/vim-scripts/smarty-syntax.git
[submodule "vim.symlink/bundle/vim-yankstack"]
	path = vim.symlink/bundle/vim-yankstack
	url = https://github.com/maxbrunsfeld/vim-yankstack.git
[submodule "vim.symlink/bundle/zenburn"]
	path = vim.symlink/bundle/zenburn
	url = https://github.com/jnurmine/Zenburn.git
[submodule "vim.symlink/bundle/vim-json"]
	path = vim.symlink/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "vim.symlink/bundle/vim-unimpaired"]
	path = vim.symlink/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim.symlink/bundle/vim-speeddating"]
	path = vim.symlink/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "vim.symlink/bundle/vim-nuuid"]
	path = vim.symlink/bundle/vim-nuuid
	url = https://github.com/kburdett/vim-nuuid.git
[submodule "vim.symlink/bundle/syntastic"]
	path = vim.symlink/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim.symlink/bundle/neco-ghc"]
	path = vim.symlink/bundle/neco-ghc
	url = https://github.com/eagletmt/neco-ghc.git
[submodule "vim.symlink/bundle/haskellmode-vim"]
	path = vim.symlink/bundle/haskellmode-vim
	url = https://github.com/lukerandall/haskellmode-vim.git
